<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoPlace</title>
</head>
<body>

<div  id="navbar" class="navbar navbar__inherit">
    <a href="/">Home</a>
    <a href="#">Favorite</a>
    <a href="https://www.instagram.com/dandiindrawijaya">About Us</a>
</div>

<header>
    <div class="hero__image">
        <div class="hero__paper">
            
        </div>
        <div class="hero__text">
            <h1 style="font-size:50px">Welcome To RestoPlace</h1>
            <br>
            <button id="findresto__button">Find Restaurant</button>
        </div>
    </div>
</header>


<div id="title" class="title">
    <h2>Explore Restaurant</h2>
</div>

<div class="container">
    <div id="restaurants" class="restaurants">

    </div>
</div>

<footer>
    Copyright © 2020 - RestoPlace
</footer>

</body>
</html>
