<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoPlace</title>
</head>
<body>

<div class="loader">
  <img src="/images/app/logo.png" alt="">
</div>

<skip-to-content></skip-to-content>

<header>
  <nav-bar></nav-bar>
  <drawer-nav></drawer-nav>
  <restoplace-hero></restoplace-hero>
</header>


<main id="main__content">
  
</main>

<footer>
  <restoplace-footer></restoplace-footer>
</footer>

</body>
</html>
