@use '../variables' as var;
@use '../card' as card;
@use '../layout' as layout;
@use '../transition' as transition;

.restaurants {
  padding: 10px;
  display: grid;
  background: white;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.restaurant {
  border-radius: 8px;
  margin: 10px;
  position: relative;
}

.restaurant__city {
  @include card.card(8px, 16px);
  background-color: white;
  font-size: 12px;
  color: var.$color-primary;
  font-weight: bold;
  position: absolute;
  left: -9px;
  top: -2px;
}

.restaurant__information{
  position: relative;
  @include layout.flex();
  margin-top: 5px;
  
  .restaurant__name {
    @include card.card();
    width: max-content;
    background-color: var.$color-secondary;
    position: absolute;
    padding: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    left: -9px;
    top: -20px;
  }
  
  .restaurant__rating {
    @include card.card();
    width: max-content;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    color: var.$color-primary;
    position: absolute;
    top: -20px;
    right: 0px;
  }
}

.restaurant__desc{
  @include card.card(8px, 16px);
  margin-top: 0;
  padding: 10px;
  font-size: 14px;

  p{
    margin: 14px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.8em;
  }
}

.resto__detail__link {
  text-decoration: unset;
  .link{
    background-color: var.$color-primary;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  .link:hover {
    background-color: gray;
  }
}

.restaurant__picture{
  width: 100%;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .restaurants {
      grid-template-columns: none
  }

  .restaurant {
      margin: 5px;
  }

  .restaurant__name {
      font-size: 12px;
  }

  .restaurant__rating {
      font-size: 10px;
  }

  .restaurant__desc, .resto__detail__link {
    font-size: 12px;
  }
}