@use '../layout' as layout;
@use '../card' as card;
@use '../variables' as var;


#restaurant__detail {
  margin-top: 20px;
}

#restaurant__detail__1 {
  @include layout.flex();

  .restaurant__picture {
    flex-basis: 50%;
    position: relative;
    height: max-content;
    .name {
      @include card.card(8px, 16px, 8px);
      position: absolute;
      font-size: 18px;
      color: white;
      font-weight: bold;
      background-color: var.$color-secondary;
      left: 50%;
      transform: translate(-50%, 0);
      top: -12px;
      width: max-content;
    }

    img {
      border-radius: 8px;
      width: 100%;
    }

    .restaurant__like {
      width: max-content;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -8px;
    }
  }

  .restaurant__detail__information {
    flex-basis: 50%;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    position: relative;

      .city {
        @include card.card(4px, 8px, 8px);
        position: absolute;
        color: var.$color-primary;
        font-weight: bold;
        background-color: white;
        left: 50%;
        transform: translate(-50%, 0);
        top: -12px;
        width: max-content
      }

      #restaurant__rating__star {
        text-align: center;
        color: yellow;
        margin-top: 20px;

        h4{
          color: grey;
          margin-top: 5px;
        }
      }

      table{
        width: 100%;
        margin-top: 10px;
        tr {
          td {
            padding: 10px 5px;
          }
        }
      }
      .category, .food, .drink {
        box-sizing: border-box;
        padding: 5px;
        border-radius: 8px;
        color: var.$color-primary;
        border: unset;
        width: max-content;
        border: 1px solid var.$color-primary;
        cursor: pointer;
        transition: 0.2s;
      }

      .food, .drink {
        display: inline-block;
        border: 1px solid var.$color-secondary;
        color: white;
        margin-top: 5px;
        color: var.$color-primary;
      }

      .food:hover, .drink:hover, .food:focus, .drink:focus{
        background-color: var.$color-secondary;
        border: unset;
        color: white;
      }
  }
  
}

#restaurant__detail__2 {
  @include layout.flex();
  margin-top: 20px;
  .description {
    flex-basis: 60%;
    padding: 10px;
    line-height: 1.8em;
    height: max-content;
    margin-right: 10px;

    p{
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .restaurant__reviews {
    flex-basis: 40%;
    padding: 10px;

    .restaurant__reviews__container {
      max-height: 280px;
      overflow: scroll;
    }

    #restaurant__reviews__container::-webkit-scrollbar-thumb {
      background-color: green;
    }

    #restaurant__reviews__container::-webkit-scrollbar {
      width: 10px;
    }
    
    #restaurant__reviews__container::-webkit-scrollbar-thumb {
      background-color: gainsboro; 
    }

    hr{
      border-top: 1px solid gainsboro;
      margin-top: 10px;
    }

    .restaurant__review {
      margin-top: 10px;
      border-bottom: 1px solid gainsboro;
      padding: 5px 9px;

      .user__name{
        font-size: 14px;
        color: var.$color-secondary;
        font-weight: bold;
      }

      .user__review{
        margin: 10px 0;
        font-size: 12px;
        line-height: 1.8em;
      }

      .review__date{
        color: grey;
        font-size: 11px;
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: 768px){

  #restaurant__detail__1 {
    @include layout.flex(column, unset, unset);

    .restaurant__picture {
      .city {
        font-size: 12px;
      }

      .restaurant__like {
        bottom: -4px;
      }
    }

    .restaurant__detail__information {
      margin-top: 20px;
      padding: 10px 0;
      font-size: 12px;
    }
  }

  #restaurant__detail__2 {
    @include layout.flex(column, unset, unset);
    margin-top: 5px;
    .description {
      margin: 0;
      p{
        font-size: 12px;
      }
    }

    .restaurant__reviews {
      margin-top: 10px;
      .restaurant__review {
        .user__name, .user__review{
          font-size: 12px;
        }
        .review__date {
          font-size: 10px;
        }
      }
    }
  }
}