// color
$color-primary: #2d4059;
$color-secondary: #f07b3f;
$color-third: #00b8a9;
$color-forth: #ff9a00;

// font size
$nav-font-size: 17px;

// hero image
$hero-image: url("/images/heros/hero-image_2.jpg");
