@use '../variables' as var;
@use '../transition' as transition;

#drawer__title {
  text-align: center;
  color: white;
  font-weight: bold;
}

#drawer {
  position: fixed;
  z-index: 99999;
  background-color: var.$color-primary;
  height: 100%;
  padding: 10px;
  width: 150px;
}

.drawer {
  @include transition.opacity-hidden();
}

.drawer__open {
  @include transition.opacity-visible();
}

#drawer {
  .link {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    background-color:  var.$color-secondary;
    font-weight: bold;
    padding: 5px;
    border-radius: 25px;
    color: white;
  }
}

#drawer {
  a {
    cursor: pointer;
    text-decoration: unset;
  }
}


@media only screen and (min-width: 601px){
  #drawer {
      left: -200px;
      display: none;
  }
}