@use '../variables' as var;
@use '../layout' as layout;

.navbar {
  z-index: 999;
  background-color: var.$color-primary;
  position: fixed;
  top: 0;
  width: 100%;

  #logo {
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 10px;
  }

  .links {
    @include layout.flex();
    a {
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: var.$nav-font-size;
      font-weight: bold;

      &:hover {
        background: var.$color-secondary;
        color: white;
      }
    }
  }
}

.navbar__inherit{
  background-color: inherit;
}

#humberger {
  padding: 7px 5px;
  cursor: pointer;
  width: max-content;
  transition: 0.5s;
  margin-right: 20px;
  background-color: inherit;
  border: unset;

  .line {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    margin-left: 10px;
  }
}

.humberger__drawer__clicked {
  margin-left: 160px;
}

@media only screen and (max-width: 600px) {
  .navbar{
    display: flex;

    #logo {
      margin-top: 8px;
    }

    .links a{
      display: none;
    }

    #humberger {
      position: absolute;
      top: 0;
      right: 20px;
    }
  } 
}

@media only screen and (min-width: 601px){
  #humberger {
      display: none;
  }
}